.hero {
  background: url("@img/firstSection/bg.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  @include adaptiveValue("margin-bottom", 152, 60);


  &__wrapper {
    &::before {
      content: '';
      background: url('@img/firstSection/man.png') center bottom no-repeat;
      background-size: cover;
      position: absolute;
      right: 0;
      bottom: 0;
      @include size(920, 800, 400, 450);
    }

    @media (max-width:$pc) {
      &::before {
        opacity: 0.8;
      }
    }

    @media (max-width:$tablet) {
      &::before {
        opacity: 0.5;
      }
    }

    @media (max-width:$mobile) {
      &::before {
        opacity: 0.4;
      }
    }

    @media (max-width:$mobileSmall) {
      &::before {
        opacity: 0.3;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: rem(542);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include adaptiveValue("padding-top", 130, 0);
  }

  &__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 82, 45);
    text-transform: uppercase;
    line-height: math.div(78, 82);
    color: #f0f0f0;
    @include adaptiveValue("margin-bottom", 36, 24);

    & span {
      color: $yellowColor;
      text-shadow: 0 0 rem(15) rgba(255, 202, 13, 0.5);
    }
  }

  &__txt {
    color: #a8a8a8;
    @include adaptiveValue("font-size", 24, 18);
    line-height: math.div(29, 24);
    @include adaptiveValue("margin-bottom", 46, 28);
  }

  &__btn {
    color: #1c1c1c;
    text-transform: uppercase;
    line-height: math.div(20, 20);
    @include adaptiveValue("padding-right", 48, 26);
    @include adaptiveValue("padding-left", 48, 26);
  }
}